<p id="notice"><%= notice %></p>

<h1>Listing Msas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Logo</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @msas.each do |msa| %>
      <tr>
        <td><%= msa.name %></td>
        <td><%= msa.logo %></td>
        <td><%= msa.description %></td>
        <td><%= link_to 'Show', msa %></td>
        <td><%= link_to 'Edit', edit_msa_path(msa) %></td>
        <td><%= link_to 'Destroy', msa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Msa', new_msa_path %>
