<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @msa.name %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @msa.logo %>
</p>

<p>
  <strong>Description:</strong>
  <%= @msa.description %>
</p>

<%= link_to 'Edit', edit_msa_path(@msa) %> |
<%= link_to 'Back', msas_path %>
