<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @formality.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @formality.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @formality.image %>
</p>

<% if current_user %><%= link_to 'Edit', edit_formality_path(@formality) %><% end %> |
<%= link_to 'Back', formalities_path %>
