<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @scholarship.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @scholarship.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @scholarship.address %>
</p>

<p>
  <strong>Link:</strong>
  <%= @scholarship.link %>
</p>

<% if current_user %><%= link_to 'Edit', edit_scholarship_path(@scholarship) %> <% end %>|
<%= link_to 'Back', scholarships_path %>
