<div class="main2" id="two">
  <div class="container">
    <div class="content">
      <div class="list2">

        <div class="baner-practicas">
          <h1>Prácticas</h1>
        </div>

        <% @jobs.each do |job| %>
          
          <div class="inside-text">
            <h2><%= link_to job.title,  job %></h2>
            <p><%= job.description %></p>
          </div>

          <div class="edit">
            <% if current_user %>
              <td><%= link_to 'Edit', edit_job_path(job) %></td>
              <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <hr class="third">
            <% end %>
          </div>
        <% end %>
        
      </div>
      <div class="new">
        <% if current_user %>
          <button><%= link_to 'New Job', new_job_path %></button>
        <% end %>
        <div class="digg_pagination">
        <%= will_paginate @jobs %>
        </div>   
      </div>
    </div>
  </div>
</div>