<div class="main2" id="two">
  <div class="container">
    <div class="content">
      <div class="list">

        <div class="baner-consejo">
          <h1>Consejos para Corea del Sur</h1>
        </div>

        <% @prearrivals.each do |prearrival| %>

          <div class="inside-img">
            <%= link_to image_tag(prearrival.image), prearrival %>
          </div>
          
          <div class="inside-text">
            <h2><%= link_to prearrival.title,  prearrival %></h2>
            <p><%= prearrival.description %></p>
          </div>

          <div class="edit">
            <% if current_user %>
              <td><%= link_to 'Edit', edit_prearrival_path(prearrival) %></td>
              <td><%= link_to 'Destroy', prearrival, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <hr class="third">
            <% end %>
          </div>

        <% end %>
        
        </div>
      <div class="new">
        <% if current_user %>
          <button><%= link_to 'New Prearrival', new_prearrival_path %></button>
        <% end %>  
        <div class="digg_pagination">
        <%= will_paginate @prearrivals %>
        </div>    
      </div>
    </div>
  </div>
</div>