<div class="main" id="two">
	<div class="container">
		<div class="content">
			<div class="show-cont">
		      	<hr class="first">
				<h1><%= @prearrival.title %></h1>
		      	<hr class="second">
		      	<p><%= @prearrival.description %></p>
		      	<hr class="third">
		      	<%= image_tag(@prearrival.image) %>
		      	<div class="pad"><button><%= link_to 'Back', prearrivals_path %></button></div>
		      	<h3><% if current_user %><%= link_to 'Edit', edit_prearrival_path(@prearrival) %>
				<% end %><h3>
			</div>
    	</div>
  	</div>
</div>