<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @prearrival.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @prearrival.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @prearrival.image %>
</p>

<% if current_user %><%= link_to 'Edit', edit_prearrival_path(@prearrival) %><% end %> |
<%= link_to 'Back', prearrivals_path %>
