<div class="main2" id="two">
  <div class="container">
    <div class="content">
      <div class="list">

        <div class="baner-vida">
          <h1>Vida cotidian</h1>
        </div>

        <% @lives.each do |life| %>

          <div class="inside-img">
            <%= link_to image_tag(life.image1), life %>
          </div>
          
          <div class="inside-text">
            <h2><%= link_to life.title,  life %></h2>
            <p><%= life.description %></p>
          </div>

          <div class="edit">
            <% if current_user %>
              <td><%= link_to 'Edit', edit_life_path(life) %></td>
            <td><%= link_to 'Destroy', life, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <hr class="third">
            <% end %>
          </div>

        <% end %>
        
      </div>
      <div class="new">
        <% if current_user %>
          <button><%= link_to 'New Life', new_life_path %></button>
        <% end %>
        <div class="digg_pagination">
        <%= will_paginate @lives %>
        </div>        
      </div>
    </div>
  </div>
</div>