<div class="main2" id="two">
  <div class="container">
    <div class="content">
      <div class="list">
      
        <div class="baner-actividad">
          <h1>Actividades en Corea del Sur</h1>
        </div>

        <% @activities.each do |activity| %>
          
          <div class="inside-img">
            <%= link_to image_tag(activity.photo1), activity %>
          </div>
          
          <div class="inside-text">
            <h2><%= link_to activity.name,  activity %></h2>
            <p><%= activity.description %></p>
          </div>

          <div class="edit">
            <% if current_user %>
              <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
              <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <hr class="third">
            <% end %>
          </div>

        <% end %>

      </div>
      <div class="new">
          <% if current_user %>
            <button><%= link_to 'New Activity', new_activity_path %></button>
          <% end %>
          <div class="digg_pagination">
            <%= will_paginate @activities %>
          </div>
      </div>
    </div>
  </div>
</div>