<!DOCTYPE html>
<html>
<head>
  <title>MSA</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, value| %>
  <div class='flash' id='<%= key %>'>
    <%= value %>
  </div>
<% end %>

<nav>
	<% if current_user %>
		<li>¡Hola,  <%= current_user.name %> !</li>
		<% admins_only do %>
			<li><%= link_to "Admin Panel", admin_root_path %></li>
		<% end %>
	<% else %>
		<li><%= link_to "Log In", login_path %></li>
		
	<% end %>
</nav>

<%= yield %>

</body>
</html>
