<!DOCTYPE html>
<html>
<head>
  <title>MSA</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, value| %>
  <div class='flash' id='<%= key %>'>
    <%= value %>
  </div>
<% end %>

<nav>
<li><%= link_to "Sign up", new_user_path %></li>
<li><%= link_to "Log In", signin_path %></li>
</nav>

<%= yield %>

</body>
</html>
